body{

}


.container{
	width: 960px;
	background: green;
	margin: auto;
}
.wrapper{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	// grid-template-rows: 50px 350px 50px;
	grid-gap: 5px;
	// grid-column-gap: 5px;
	// grid-row-gap: 5px;
	grid-template-areas: "h h h h h h h h h h h h"
						 "c c c c c c c c c c s s"
						 "f f f f f f f f f f f f";
	// justify-items: center;
	// align-items: stretch;
	background: red;
	// outline: red;
	// width: 90%;
	//   justify-content: end;	

}

.header{
	grid-column: 1/4;
	background-color: #acf4b6;
	grid-area: h;
	// align-self: start;
}

.sidebar{
	grid-column: 1/2;
	background-color: #ffe975;
	grid-area: s;
}

.content{
	grid-column: 2/4;
	background-color: #5efffa;
	grid-area: c;
}

.footer{
	grid-column: 1/4;
	background-color: #e6b4fd;
	grid-area: f;
}


@media screen and (max-width: 640px){
	.wrapper{
		grid-template-areas: "s s s s s s h h h h h h"
							 "c c c c c c c c c c c c"
							 "f f f f f f f f f f f f"
	}	
}




// .grid-element{
// 	color: #FFF;
// 	text-align: center;
// 	font-weight: bold;
// 	font-family: Arial;
// }
// .one{
// 	background-color: #acf4b6;

// 	// grid-column-start: 1;
// 	// grid-column-end: 4;

// 	grid-column: 1/3;
// }
// .two{
// 	background-color: #ffe975;
// }
// .three{
// 	background-color: #5efffa;

// 	grid-row: 2/4;
// }
// .four{
// 	background-color: #e6b4fd;

// 	grid-column: 2/4;
// }
// .five{
// 	background-color: #8dfecd;
// }
// .six{
// 	background-color: #fd9a5c;
// }