        <form onSubmit={(e) => {
          e.preventDefault();
          console.log('event', e);
        }} onChange={(e) => {
          console.log('name', e.target.name);
          console.log('value', e.target.value);
        }}>

          <input type='name' name='name' />
          <input type='email' name='email' />
          {/* <input type='text' name='name' value={this.state.value} onChange={(e) => {
            this.setState({
              value: e.target.value
            });
          }} />
          <br />
          <label>
            <input type='checkbox' checked={this.state.checked} onChange={(e) => {
              this.setState({
                checked: !this.state.checked
              });
            }} />
            check here
          </label>
          <br />
          <input type='radio' name='rd' value='1' defaultChecked /> radio 1
          <input type='radio' name='rd' value='2' /> radio 2
          <br />
          <select value={this.state.valueSelect} onChange={(e) => {
            this.setState({valueSelect: e.target.value});
          }}>
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
          </select>
          <br />
          <textarea name='textarea' value={this.state.textarea} onChange={(e) => {
            this.setState({textarea: e.target.value});
          }} />
          <br /> */}
          <button type='submit'>Enviar</button>
        </form>