/**
 *
 * Variables
 *
 * This stylesheet describes all
 * variables for the project
 *
 *
 * @project Faria
 * @version 1.0
 * @author Paula Faria
 *
 **/



//  LIST OF COLORS
$pomegranate:			#ef4136;
$masala:                #463939;


// BASE COLOR
$color-primary: 	    $pomegranate;
$color-secondary: 	    $masala;



/**
 *
 * z-index
 * 
 * z-index variables
 *
 * Attetion, there is only ten levels of z-index, use wisely 
 *
 *
 **/


 $zindex-1: 10;
 
 $zindex-2: 20;
 
 $zindex-3: 30;
 
 $zindex-4: 40;
 
 $zindex-5: 50;
 
 $zindex-6: 60;
 
 $zindex-7: 70;
 
 $zindex-8: 80;
 
 $zindex-9: 90;

 $zindex-10: 100;



/**
 *
 * Fonts
 *
 * font variables
 *
 **/

 $font-base: 'Roboto';