/**
* Tom Starter Kit
*
* This is the main file for all the CSS architecture of Tom Starter Kit. 
* Here are imported all the main files from BASE / COMPONENTS / MODULES / PAGES
*
* @Tom Starter Kit
* @1.0
* @Tom
*
*/
.main {
  padding: 40px;
  width: 50%;
  margin: auto;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  font-size: 20px;
  margin-bottom: 20px;
}

button {
  background-color: #ef4136;
  color: #FFF;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

/**
* Tom Starter Kit
*
* This is the main file for BASE folder.
* Here are imported all the files from BASE/.
*
* @Tom Starter Kit
* @1.0
* @Tom
*
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

address {
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

/**
* Tom Starter Kit
*
* This is the main file for COMPONENTS folder.
* Here are imported all the files from COMPONENTS/.
*
* @Tom Starter Kit
* @1.0
* @Tom
*
*/
/**
* Tom Starter Kit
*
* This is the main file for MODULES folder.
* Here are imported all the files from MODULES/.
*
* @Tom Starter Kit
* @1.0
* @Tom
*
*/
/**
* Tom Starter Kit
*
* This is the main file for PAGES folder.
* Here are imported all the files from PAGES/.
*
* @Tom Starter Kit
* @1.0
* @Tom
*
*/
 

 /*# sourceMappingURL= styles.css.map */