/**
* Tom Starter Kit
*
* This is the main file for all the CSS architecture of Tom Starter Kit. 
* Here are imported all the main files from BASE / COMPONENTS / MODULES / PAGES
*
* @Tom Starter Kit
* @1.0
* @Tom
*
*/


.main{
    padding: 40px;
    width: 50%;
    margin: auto;
}
input[type="text"]{
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 20px;
    margin-bottom: 20px;
}
button{
    background-color: #ef4136;
    color: #FFF;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

// BASE
@import "base/_base";

// COMPONENTS
@import "components/_components";

// MODULES
@import "modules/_modules";

// PAGES
@import "pages/_pages";





