.container {
  width: 960px;
  background: green;
  margin: auto; }

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
  grid-template-areas: "h h h h h h h h h h h h" "c c c c c c c c c c s s" "f f f f f f f f f f f f";
  background: red; }

.header {
  grid-column: 1/4;
  background-color: #acf4b6;
  grid-area: h; }

.sidebar {
  grid-column: 1/2;
  background-color: #ffe975;
  grid-area: s; }

.content {
  grid-column: 2/4;
  background-color: #5efffa;
  grid-area: c; }

.footer {
  grid-column: 1/4;
  background-color: #e6b4fd;
  grid-area: f; }

@media screen and (max-width: 640px) {
  .wrapper {
    grid-template-areas: "s s s s s s h h h h h h" "c c c c c c c c c c c c" "f f f f f f f f f f f f"; } }

/*# sourceMappingURL=styles.css.map */
